{% extends 'layout.html' %}

{% block head %}
<script src="/public/scripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link href="/style/github.css" rel="stylesheet">
{% endblock %}

{% block nav %}
<a href="/">Home</a>
{% endblock %}


{% block content %}
<article class="post">
    <h1>
        {{ title }}
        {% if date %}
        <span class="date">{{ date.toLocaleDateString() }}</span>
        {% endif %}
    </h1>

    {{ contents|safe }}
</article>
{% endblock %}